Repository ucsd-cse125-sp23/group-4, pull requests merged in 2023-06, with the labels that each got.

#58 Fix compile issues
  CMakeSettings.json
  include/client/graphics/Scene.h
  include/core/lib.hpp
  src/client/graphics/Assimp2Scene.inl
  src/client/graphics/Lobby.inl
  src/core/game/modifier/Modifiers.cpp
  tests/core/benchmark.cpp
Labels: enhancement, core

#62 Add support for items/effects/events
  .gitignore
  CMakeLists.txt
  config.json
  include/client/graphics/Start.h
  include/network/effect.hpp
  include/network/item.hpp
  include/network/message.hpp
  include/server/game.hpp
  include/server/manager.hpp
  src/client/CMakeLists.txt
  src/client/graphics/Scene.cpp
  src/client/graphics/Start.cpp
  src/config/CMakeLists.txt
  src/core/game/physics/PObject.cpp
  src/core/game/physics/PowerUp.cpp
  src/network/message.cpp
  src/server/game.cpp
  src/server/main.cpp
Labels: enhancement, networking, game management

#65 Finish sending messages
  include/core/game/modifier/TaggedStatusModifier.h
  include/network/message.hpp
  include/server/game.hpp
  include/server/manager.hpp
  src/client/main.cpp
  src/core/game/modifier/Modifiers.cpp
  src/network/message.cpp
  src/server/game.cpp
  src/server/main.cpp
Labels: enhancement, networking, game management

#70 Pretty map
  assets/shaders/shaderx.frag
  include/client/graphics/Camera.h
  include/client/graphics/DOF.h
  include/client/graphics/Lights.h
  include/client/graphics/MapObj.h
  include/client/graphics/Material.h
  include/client/graphics/Settings.h
  src/client/graphics/Camera.cpp
  src/client/graphics/Scene.inl
  src/client/graphics/Start.cpp
Labels: documentation, enhancement, graphics, visuals

#67 Server fixes
  config.json
  include/client/graphics/GameThing.h
  include/core/game/level/Level.h
  include/core/game/mode/GameMode.h
  include/core/game/mode/GameModeBases.h
  include/core/game/mode/GameModes.h
  include/core/game/physics/PowerUp.h
  include/core/lib.hpp
  include/network/item.hpp
  include/network/message.hpp
  include/network/tcp_server.hpp
  include/server/game.hpp
  include/server/manager.hpp
  src/client/graphics/Scene.cpp
  src/core/CMakeLists.txt
  src/core/game/level/Level.cpp
  src/core/game/mode/GameMode.cpp
  src/core/game/mode/GameModeBases.cpp
  src/core/game/mode/GameModes.cpp
  src/core/game/modifier/Modifiers.cpp
  src/core/game/physics/PObject.cpp
  src/core/game/physics/PowerUp.cpp
  src/core/lib.cpp
  src/network/message.cpp
  src/network/tcp_server.cpp
  src/server/game.cpp
  src/server/main.cpp
  src/server/manager.cpp
Labels: enhancement, game management

#79 Sync client scores with server
  config.json
  include/client/graphics/Player.h
  include/client/graphics/Scene.h
  include/client/graphics/Timer.h
  src/client/graphics/HUD.cpp
  src/client/graphics/Player.cpp
  src/client/graphics/Scene.cpp
  src/core/game/mode/GameMode.cpp
  src/network/CMakeLists.txt
  src/network/tcp_server.cpp
  src/server/main.cpp
Labels: enhancement, core, game management

#80 Multithreaded loading + rendering
  assets/image/character_select.png
  assets/image/flag.png
  include/client/graphics/FontRenderer.h
  include/client/graphics/HUD.h
  include/client/graphics/Load.h
  include/client/graphics/Mesh.h
  include/client/graphics/Scene.h
  include/client/graphics/Start.h
  include/client/graphics/Timer.h
  include/client/graphics/Window.h
  src/client/graphics/Camera.cpp
  src/client/graphics/HUD.cpp
  src/client/graphics/Lobby.cpp
  src/client/graphics/Lobby.inl
  src/client/graphics/Scene.cpp
  src/client/graphics/Scene.inl
  src/client/graphics/Start.cpp
  src/client/graphics/Window.cpp
  src/client/main.cpp
Labels: enhancement, graphics

#85 Synchronize game loading
  config.json
  include/client/graphics/Window.h
  include/network/message.hpp
  include/server/game.hpp
  include/server/manager.hpp
  src/client/graphics/Window.cpp
  src/client/main.cpp
  src/network/message.cpp
  src/network/tcp_server.cpp
  src/server/CMakeLists.txt
  src/server/game.cpp
  src/server/main.cpp
  src/server/manager.cpp
Labels: enhancement, networking, game management
